@import url('https://fonts.googleapis.com/css?family=Roboto');

.btn-primary {
    background-color: white !important;
}

.btn.outline {
    font-family: 'Roboto', sans-serif;
    background: none;
    padding: 12px 22px;
}

/*primary button*/
.btn-primary.outline {
    border: 2px solid #0095FF;
    color: #0095FF;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #0082de;
    border-color: #0082de;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #005896;
    color: #005896;
    box-shadow: none;
}


.btn-primary{
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

#btn-new-guests {
    border-radius: 24px;
}

.btn-add-guests {
    font-size: 13px;
    padding: 0 !important;
    height: 34px;
    line-height: 1;
}